<form
  #f="ngForm"
  (ngSubmit)="submit(f)">
  <div
    ngModelGroup="contact"
    #contact="ngModelGroup">

    <div
      class="alert alert-danger"
      *ngIf="contact.touched && !contact.valid">
      <!-- validation errors first name-->
      <div
        *ngIf="bla.touched && !bla.valid">

        <div *ngIf="bla.errors.required">
          First name is required
        </div>
        <div *ngIf="bla.errors.minlength">
          First name should be minimum {{bla.errors.minlength.requiredLength}} characters
        </div>
        <div *ngIf="bla.errors.pattern">
          First name should match 'banana'
        </div>
      </div>


      <!-- validation errors email -->
      <div *ngIf="meel.touched && !meel.valid">
        <div *ngIf="meel.errors.required">
          Email is required
        </div>
        <div *ngIf="meel.errors.pattern">
          Not a valid email address
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        required
        minlength="5"
        maxlength="10"
        pattern='banana'
        ngModel
        name="firstName"
        #bla="ngModel"
        (change)="log(bla)"
        id="firstName"
        type="text"
        class="form-control">


    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        required
        pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*"
        ngModel
        name="email"
        #meel="ngModel"
        id="email"
        type="text"
        class="form-control">
    </div>

  </div>

  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea
      ngModel
      name="comment"
      id="comment"
      cols="30"
      rows="10"
      class="form-control"></textarea>
  </div>
  <button class="btn btn-primary" [disabled]="!f.valid" >Submit</button>
</form>
