<form
  [formGroup]="form">

  <div class="form-group">
    <label for="oldpassword">Old Password</label>
    <input
      formControlName="oldPassword"
      type="password"
      id="oldpassword"
      class="form-control">
  </div>

  <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
    <div *ngIf="oldPassword.errors.wrongCurrentPassword">
      verkeerd wachtwoord
    </div>
    <div *ngIf="oldPassword.errors.required">
      Old password required
    </div>
  </div>

  <div formGroupName="newValues">
    <div class="form-group">
      <label for="newpassword">New Password</label>
      <input
        formControlName="newPassword"
        type="text"
        id="newpassword"
        class="form-control">
    </div>
    <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
      <div *ngIf="newPassword.errors.required">
        New password is required
      </div>
    </div>

    <div class="form-group">
      <label for="confirmpassword">Confirm Password</label>
      <input
        formControlName="confirmPassword"
        type="text"
        id="confirmpassword"
        class="form-control">
    </div>
    <div *ngIf="confirmedPassword.touched && confirmedPassword.invalid" class="alert alert-danger">
      <div *ngIf="confirmedPassword.errors.required">
        Confirmed password is required
      </div>
    </div>
  </div>
  <div *ngIf="newValues.touched && newValues.invalid" class="alert alert-danger">
    New and confirmed not the same
  </div>


  <button class="btn btn-primary">Change Password</button>

</form>
