<form
  [formGroup]="form">

  <input
    id="postTitle"
    type="text"
    formControlName="postTitle"
    class="form-control"
    placeholder="title to add (press <enter> to submit)"
    (keyup.enter)="submitThePost()"
  >

  <div
    *ngIf="postTitle.touched && postTitle.invalid"
    class="alert alert-danger"
  >
    <div *ngIf="postTitle.errors.required">
      Post title is required
    </div>
    <div *ngIf="postTitle.errors.minlength">
      Post must be at least 5 long.
    </div>
  </div>

  <div
    *ngIf="form.errors"
    class="alert alert-danger"
  >
    something went wrong... {{form.errors}}

  </div>

</form>
<hr>

<p>value: {{form.value | json}}</p>
<p>errors: {{form.errors | json}}</p>

<hr>

<input
  (keyup.enter)="createPost(title)" #title
  type="text" class="form-control">

<div class="alert alert-warning alert-dismissible fade " [class.show]="errorOccured" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"
  (click)="dismissError()">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
</div>

<ul class="list-group">
  <li
    *ngFor="let post of posts"
    class="list-group-item">
    <button
      (click)="updatePost(post)"
      class="btn btn-info btn-sm" [disabled]="post.isRead">Mark as Read</button>
    <button
      (click)="deletePost(post)"
      class="btn btn-danger btn-sm">Delete</button>

    <span [class.bold]="!post.isRead">{{post.title}}</span>
  </li>
</ul>
